.container {
  max-width: 100%;
}

img {
  max-width: 100%;
}

header {
  padding: 16px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.title-block {
  flex: 1 1 auto;
}

.hamburger {
  margin-left: 16px;
  flex: 0 0 32px;
  align-self: center;
  text-align: center;
  color: #fff;
}

#nav {
  position: fixed;
  background-color: #000;
  right: -270px;
  top: 0;
  width: 270px;
  height: 100%;
}

.show {
  transform: translate3d(-270px, 0, 0);
}

#nav, #wrapper {
  transition: transform 0.3s;
}
